body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.home {
  text-align: center;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home h1 {
  font-size: 50px;
  text-shadow: 2px 5px 10px black;
  transform: skewX(2deg);
}
.home div {
  padding-right: 100px;
}
.signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  max-width: 600px;
  height: 700px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 100px 10px rgba(155, 155, 158, 0.808);
}
.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 250px auto;
  max-width: 600px;
  height: 500px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 100px 10px rgba(155, 155, 158, 0.808);
}

.form h1 {
  text-align: center;
  text-shadow: 2px 5px 8px rgb(56, 55, 55);
}
.form-div {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.signup-form-container {
  margin-bottom: 50px;
}
.login-form-container {
  margin-bottom: 100px;
}
.form-div label {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
  cursor: pointer;
  text-shadow: 2px 5px 8px rgb(56, 55, 55);
}
.form-div input {
  padding: 12px 8px;
  border-radius: 6px;
  border: 1px solid black;
  cursor: pointer;
  width: 400px;
  margin: 0 auto;
  font-size: large;
  background-color: rgb(239, 246, 246);
  box-shadow: 4px 3px 4px 3px rgba(206, 227, 204, 0.8);
}
p {
  color: red;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  text-shadow: 1px 1px 1px rgb(247, 169, 169);
}
.buttons {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
