.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(237, 183, 82);
  max-width: 25%;
  margin: 0 auto;
}
.header {
  width: fit-content;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
